<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ note_title }}</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <span>New title</span>
      <label>
        <input type="text" name="title" placeholder="Previous: {{ note_title }}">
      </label>
      <span>New content</span>
      <label>
        <textarea name="content" placeholder="Previous: {{ note_content }}"></textarea>
      </label>
      <button type="submit" name="save">Save changes</button>
    </form>
  </body>
</html>